body {
  /* if we want to set the div background fit the page first of all do
    following job below */
  margin: 0;
  padding: 0;
}
.title-background {
  background-color: #95e1d3;
  width: 100%;
  height: 100%;
}
.main-title {
  text-align: center;
  margin: 0 0;
}
.col-3 {
  background-color: yellow;
  height: 7rem;
  margin-left: 0.5rem;
  border-radius: 10%;
  color: transparent;
}
.row {
  padding: 0.2rem;
}
.container {
  width: 40rem;
  margin: auto auto;
}
@keyframes right-answer {
  from {
    background-color: #95e1d3;
  }
  to {
    background-color: chartreuse;
  }
}
@keyframes wrong-answer {
  from {
    background-color: #95e1d3;
  }
  to {
    background-color: red;
  }
}
.guess-area {
  padding-top: 5rem;
  background-color: #95e1d3;
  height: 26rem;
}
.guess-area-right {
  text-align: center;
  padding-top: 5rem;
  background-color: chartreuse;
  height: 26rem;
  font-family: "Shadows Into Light", cursive;
  color: aliceblue;
  font-size: 2rem;
  animation-name: right-answer;
  animation-duration: 1s;
  animation-iteration-count: 2;
}
.guess-area-wrong {
  text-align: center;
  padding-top: 5rem;
  background-color: red;
  font-size: 2rem;
  font-family: "Comforter Brush", cursive;
  color: white;
  height: 26rem;
  animation-name: wrong-answer;
  animation-duration: 1s;
  animation-iteration-count: 2;
}
.guess-area p {
  text-align: center;
  font-size: larger;
}

@media screen and (max-width: 500px) {
  body {
    /* if we want to set the div background fit the page first of all do
      following job below */
    margin: 0;
    padding: 0;
  }
  .title-background {
    background-color: #95e1d3;
    width: 100%;
    height: 100%;
  }
  .main-title {
    font-size: medium;
    position: relative;
    right: 3rem;
  }
  .nav {
    width: 100%;
  }
  .container {
    position: relative;
    right: 2rem;
    width: 20rem;
    margin: auto auto;
  }
  .guess-area-right {
    text-align: left;
    padding-top: 5rem;
    background-color: chartreuse;
    height: 26rem;
    font-family: "Shadows Into Light", cursive;
    color: aliceblue;
    font-size: medium;
    animation-name: right-answer;
    animation-duration: 1s;
    animation-iteration-count: 2;
    width: 100%;
  }
  .guess-area-wrong {
    text-align: left;
    padding-top: 5rem;
    background-color: red;
    font-size: medium;
    font-family: "Comforter Brush", cursive;
    color: white;
    height: 26rem;
    animation-name: wrong-answer;
    animation-duration: 1s;
    animation-iteration-count: 2;
  }
  .nav {
    width: fit-content;
  }
  .nav-item {
    width: fit-content;
  }
  .nav-link {
    font-size: smaller;
  }
}
